#container {
	max-width: 1440px;
	margin: 0 auto;
	text-align: center;
}

#page-heading {
	font-family: 'Happy Monkey', cursive;
	color: red;
}

.red {
	color: white;
	background-color: red;
}
.blue {
	color: white;
	background-color: blue;
}
.green {
	color: white;
	background-color: green;
}
.yellow {
	color: white;
	background-color: yellow;
}
