<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Talking App</title>
	<link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Merriweather|Nunito" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="wordApp">
	<div id="container">
		<div ng-controller="wordAppController">
			<h1 id="page-heading">{{title}}</h1>
			<button type="button" ng-click="addRandomWord()">Add Random Word</button>
			<button type="button" ng-click="addRandomPhrase()">Add Random Phrase</button>
			<button type="button" ng-click="addRandomWordDecoration()">Add Random Decorated word</button>
			<button type="button" ng-click="addRandomPhraseDecoration()">Add Random Decorated Phrase</button>
			<div class="list-of-words">
				<span ng-repeat="words in randomText track by $index" class="ng-class: words.decor">
			{{words.word}}</span>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
